<h1>Facebook style placeholder text</h1>

<code>\{{text-placeholder}}</code>
<p>{{text-placeholder}}</p>

<hr>

<code>\{{text-placeholder size='short'}}</code>
<p>{{text-placeholder size='short'}}</p>

<hr>

<code>\{{text-placeholder size='medium'}}</code>
<p>{{text-placeholder size='medium'}}</p>

<hr>

<code>\{{text-placeholder size='long'}}</code>
<p>{{text-placeholder size='long'}}</p>

<hr>

<code>\{{text-placeholder size=25}}</code>
<p>{{text-placeholder size=25}}</p>

<hr>

<code>\{{text-placeholder size='short' varLength=true}}</code>
<p>{{text-placeholder size='short' varLength=true}}</p>

<hr>

<code>\{{text-placeholder size='medium' varLength=true}}</code>
<p>{{text-placeholder size='medium' varLength=true}}</p>

<hr>

<code>\{{text-placeholder size='long' varLength=true}}</code>
<p>{{text-placeholder size='long' varLength=true}}</p>

<hr>

<code>\{{text-placeholder size=25 varLength=true}}</code>
<p>{{text-placeholder size=25 varLength=true}}</p>

{{outlet}}
