<h2 id="title">Welcome to Ember</h2>


<h3>Default implementation</h3>
<p>{{text-placeholder}}</p>

<hr>

<h3>size=short</h3>
<p>{{text-placeholder size='short'}}</p>

<hr>

<h3>size=medium</h3>
<p>{{text-placeholder size='medium'}}</p>

<hr>

<h3>size=long</h3>
<p>{{text-placeholder size='long'}}</p>

<hr>

<h3>size=25</h3>
<p>{{text-placeholder size=25}}</p>

<hr>

<h3>size=short, varLength=true</h3>
<p>{{text-placeholder size='short' varLength=true}}</p>

<hr>

<h3>size=medium, varLength=true</h3>
<p>{{text-placeholder size='medium' varLength=true}}</p>

<hr>

<h3>size=long, varLength=true</h3>
<p>{{text-placeholder size='long' varLength=true}}</p>

<hr>

{{outlet}}
