<h2>usage examples</h2>

<p>default usage: <code>\{{rect-placeholder}}</code></p>
{{rect-placeholder}}

<p>with <em>height</em> and <em>width</em> properties: <code>\{{rect-placeholder height=25 width=100}}</code></p>
{{rect-placeholder height=25 width=100}}

<p>with <em>radiusX</em> and <em>radiusY</em> properties: <code>\{{rect-placeholder height=25 width=100}}</code></p>
{{rect-placeholder radiusX=20 radiusY=20}}

{{outlet}}
